#flashlight {
    display: flex;
    pointer-events: none;    
    position: fixed;
    left: -100%;
    top: -100%;
    z-index: -10px;
    height: 300%;
    width: 300%;
    background: radial-gradient(circle at 50% 50%, rgba(255, 163, 207, 0.056) 5%, rgba(0, 0, 0, 0.062) 12%); /*comment that to see all screen*/
    filter: blur(20px);

    transition: 
      left .5s ease-in-out,
      top .5s ease-in-out,
      height .5s ease-in-out,
      width .5s ease-in-out;
}
@media(max-width: 1024px) {
   #flashlight {
    display: none;
   }
}